.l-navigatie {

  // Parent Main

  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  grid-area: navigatie;
  padding: 1.5rem;
  width: 13.625rem;


  // Childrens

  &__link {
    gap: .5rem;
  }


  // Grandchildren

  &__text {
    font-size: .9rem;
  }
}