@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

a {
  color: var(--black);
  text-decoration: none;
}

input {
  outline: 0;
}

button {
  border-radius: 0;
  border: 1px solid;
  cursor: pointer;
}

.u-flex-f-center,
.u-flex-h-space-between,
.u-flex-h-start,
.u-flex-f-center-column {
  display: flex;
}

.u-flex-f-center {
  justify-content: center;
  align-items: center;
}

.u-flex-h-space-between {
  justify-content: space-between;
  align-items: center;
}

.u-flex-h-start {
  justify-content: flex-start;
  align-items: center;
}

.u-flex-f-center-column {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.c-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  cursor: pointer;
}
.c-icon--menu {
  background-image: url("../../images/icons/menu-icon.svg");
}
.c-icon--search {
  background-image: url("../../images/icons/search-icon.svg");
}
.c-icon--video {
  background-image: url("../../images/icons/video-icon.svg");
}
.c-icon--bell {
  background-image: url("../../images/icons/bell-icon.svg");
}
.c-icon--home {
  background-image: url("../../images/icons/home-icon.svg");
}
.c-icon--compass {
  background-image: url("../../images/icons/compass-icon.svg");
}
.c-icon--youtube {
  background-image: url("../../images/icons/youtube-icon.svg");
}
.c-icon--disc {
  background-image: url("../../images/icons/disc-icon.svg");
}
.c-icon--thumbs-up {
  background-image: url("../../images/icons/thumbs-up-icon.svg");
}
.c-icon--clock {
  background-image: url("../../images/icons/clock-icon.svg");
}
.c-icon--download {
  background-image: url("../../images/icons/download-icon.svg");
}
.c-icon--film {
  background-image: url("../../images/icons/film-icon.svg");
}
.c-icon--book {
  background-image: url("../../images/icons/book-icon.svg");
}
.c-icon--award {
  background-image: url("../../images/icons/award-icon.svg");
}

.c-logo {
  width: 5.625rem;
  height: 1.25rem;
  display: inline-block;
  background-image: url("../../images/pictures/youtube-logo.svg");
}

.c-avatar {
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
  cursor: pointer;
}

.l-body {
  display: grid;
  grid-template: "header header" auto "navigatie main" auto/auto 1fr;
}

.l-header {
  grid-area: header;
  height: 3.5rem;
  padding: 0 1.5rem;
}
.l-header__left {
  gap: 2rem;
}
.l-header__center {
  width: 25.25rem;
  border: 1px solid var(--gray-01);
}
.l-header__right {
  gap: 1.5rem;
}
.l-header__input, .l-header__button {
  padding: 0 1rem;
  height: 2.5rem;
  border: 0;
}
.l-header__input {
  flex-grow: 1;
}
.l-header__button {
  border-left: 1px solid var(--gray-01);
  background-color: var(--gray-02);
}
.l-navigatie {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  grid-area: navigatie;
  padding: 1.5rem;
  width: 13.625rem;
}
.l-navigatie__link {
  gap: 0.5rem;
}
.l-navigatie__text {
  font-size: 0.9rem;
}

.l-main {
  grid-area: main;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.l-main__video {
  padding: 1rem;
  display: grid;
  grid-template: "thumb" auto/auto;
  row-gap: 1rem;
  max-width: max-content;
}
.l-main__thumb {
  width: 15.625rem;
  height: 8.75rem;
  object-fit: contain;
  object-position: left top;
  grid-area: thumb;
}
.l-main__channel {
  width: 15.625rem;
  display: grid;
  grid-template: "avatar title" auto "avatar info" auto/auto auto;
  gap: 0.5rem;
}
.l-main__avatar {
  grid-area: avatar;
  width: 2.625rem;
  height: 2.625rem;
}
.l-main__title, .l-main__info {
  font-size: 0.9rem;
}
.l-main__title {
  grid-area: title;
  font-weight: bold;
}
.l-main__info {
  grid-area: info;
  color: var(--gray);
}

.is-active {
  font-weight: bold;
}

:root {
  --white: white;
  --black: black;
  --gray: #515151;
  --gray-01: #CCCCCC;
  --gray-02: #F8F8F8;
}

/*# sourceMappingURL=main.css.map */
